#mainHeader{
    
    top:0px;
    left: 0px;
    width: 100%;
    min-width: 700px;
    min-height: 250px;
    max-height: 450px;
    background-color: aquamarine;
    overflow:hidden;
    display:block;
    
}

#mainHeader video{
    
    width: 100%;
    display: block;
    margin: 0 auto;
    z-index: 2;
    
    
}

#mainTitle{
    text-align: center;
    width: 100%;
    margin-top:150px;
    color: black;
    display: block;
    position: absolute;
    z-index:3;
    text-shadow: 1px 1px 3px; #000000;
    background-color: rgba(255,255,255,0.6);
    line-height: 4em;
}

h1{
    font-family: 'Changa One';
}

h2{
   font-family: 'Ubuntu mono';
    font-weight: 700;
}

h3{
    font-family: 'Changa One';
}

body{
    font-family: 'Ubuntu mono';
}

.navbar-brand{
    
     font-family: 'Changa One';
    
}